.parent-grid {
    display: flex;
    justify-content: center;
}


.loading-state,
.error-state {
    position: absolute;
    top: 40%;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: AvenirNextLTPro-Demi, Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #4d4d4d;
}
